.navbar {
  width: 100%;
  height: 6vh;
  background-color: skyblue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar h2 {
  color: red;
  font-size: 28px;
  cursor: pointer;
}

.navbar span {
  color: #fff;
}

.navbar .nav {
  display: flex;
  flex-direction: row;
}
